@use "sass:math";

$wide-container: 60rem;
$narrow-container: 40rem;

/* Typography */
$font-family-sans: -apple-system, BlinkMacSystemFont, sans-serif;
$font-family-raleway: 'Raleway', sans-serif;
$font-family-quicksand: 'Quicksand', sans-serif;

$unit: 14;
$font-micro-size: math.div(10, $unit) * 1rem; /* 10px */
$font-micro-line-height: math.div(12, 10); /* 12px */
$font-small-size: math.div(14, $unit) * 1rem; /* 14px */
$font-small-line-height: math.div(21, 14); /* 21px */
$font-base-size: math.div(16, $unit) * 1rem; /* 16px */
$font-base-line-height: math.div(24, 16); /* 24px */
$font-large-size: math.div(18, $unit) * 1rem; /* 18px */
$font-large-line-height: math.div(27, 18); /* 27px */

$font-title4-size: math.div(18, $unit) * 1rem; /* 21px */
$font-title4-line-height: math.div(27, 18); /* 30px */
$font-title3-size: math.div(21, $unit) * 1rem; /* 21px */
$font-title3-line-height: math.div(30, 21); /* 30px */
$font-title2-size: math.div(24, $unit) * 1rem; /* 24px */
$font-title2-line-height: math.div(33, 24); /* 33px */
$font-title1-size: math.div(49, $unit) * 1rem; /* 49px */
$font-title1-line-height: math.div(57, 49); /* 57px */

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

/* Widths */
$width-x-small: 20em;
$width-small: 40em;
$width-medium: 60em;
$width-large: 80em;
$width-x-large: 100em;

/* Breakpoints */
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;

@mixin for-landscape-only {
  @media (orientation: landscape) { @content; }
}
@mixin for-portrait-only {
  @media (orientation: portrait) { @content; }
}
@mixin breakpoint-below-small {
  @media (max-width: calc(#{$breakpoint-sm} - 1px)) { @content; }
}
@mixin breakpoint-above-small {
  @media (min-width: $breakpoint-sm) { @content; }
}
@mixin breakpoint-below-medium {
  @media (max-width: calc(#{$breakpoint-md} - 1px)) { @content; }
}
@mixin breakpoint-above-medium {
  @media (min-width: $breakpoint-md) { @content; }
}
@mixin breakpoint-below-large {
  @media (max-width: calc(#{$breakpoint-lg} - 1px)) { @content; }
}
@mixin breakpoint-above-large {
  @media (min-width: $breakpoint-lg) { @content; }
}
@mixin breakpoint-below-extra-large {
  @media (max-width: calc(#{$breakpoint-xl} - 1px)) { @content; }
}
@mixin breakpoint-above-extra-large {
  @media (min-width: $breakpoint-sm) { @content; }
}
