:root {
  --wide-container: 60rem;
  --narrow-container: 40rem;

  --font-family-sans: -apple-system, BlinkMacSystemFont, sans-serif;
  --font-family-mons: Montserrat, sans-serif;

  --color-black: #202123;
  --color-dark-gray: #32373e;
  --color-gray: #697a90;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-accent: #156dff;
  --color-link: #0074d9;

  /* Typography */
  --unit: 15;
  --font-micro-size: calc(10 / var(--unit) * 1rem);
  --font-micro-line-height: calc(12 / 10);
  --font-small-size: calc(14 / var(--unit) * 1rem);
  --font-small-line-height: calc(21 / 14);
  --font-base-size: calc(16 / var(--unit) * 1rem);
  --font-base-line-height: calc(24 / var(--unit));
  --font-large-size: calc(18 / var(--unit) * 1rem);
  --font-large-line-height: calc(27 / 18);

  --font-title4-size: calc(18 / var(--unit) * 1rem);
  --font-title4-line-height: calc(27 / 18);
  --font-title3-size: calc(21 / var(--unit) * 1rem);
  --font-title3-line-height: calc(30 / 21);
  --font-title2-size: calc(24 / var(--unit) * 1rem);
  --font-title2-line-height: calc(33 / 24);
  --font-title1-size: calc(49 / var(--unit) * 1rem);
  --font-title1-line-height: calc(57 / 49);

  /* Widths */
  --width-x-small: 20em;
  --width-small: 44em;
  --width-medium: 60em;
  --width-large: 80em;
  --width-x-large: 100em;
}
