@import './custom-properties.css';

html {
  font-family: var(--font-family-mons);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: #f0efe9;
  color: var(--color-black);
  margin: 0;
}

a {
  color: var(--color-link);
}

html,
body,
:global(#__next),
:global(.container) {
  width: 100%;
  height: 100%;
}

:global(.container) {
  overflow-x: hidden;
  overflow-y: auto;
}

:global(.content) {
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 16px;
}

p {
  margin: 8px 0;
}

li:not(:last-of-type) {
  padding-bottom: 8px;
}
