@import './custom-properties.css';

html {
  font-family: var(--font-family-mons);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: #f0efe9;
  color: var(--color-black);
  margin: 0;
}

a {
  color: var(--color-link);
}

p {
  margin: 8px 0;
}

li:not(:last-of-type) {
  padding-bottom: 8px;
}

html,
body,
:global(#__next),
:global(.container) {
  width: 100%;
  height: 100%;
}

:global(.container) {
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (--typography-breakpoint) {
    margin: 0;
    width: 100%;
  }
}

:global(.wide-container) {
  @media (--typography-breakpoint) {
    max-width: var(--wide-container, 60rem);
  }
}

:global(.content) {
  padding-top: 16px;
  flex: 1;
  overflow: auto;
}

:global(.card) {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 32px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
