@import "../../styles/custom-media.css";
@import "../../styles/custom-properties.css";

.root {
  position: relative;
  color: var(--color-black, #000);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background: white;
  box-sizing: border-box;
  padding: 8px 0;
}

.root a {
  color: inherit;
  text-decoration: inherit;
}

.branding {
  font-size: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: center;
  flex: 1;

  @nest & > a {
    display: block;
    padding: 1.5em 8px;

    @media (--media-max-medium) {
      padding: 12px 8px;
    }
  }
}

.nav {
  flex: 1;

  @media (--media-max-medium) {
    display: none;
  }
}

.navItems {
  padding: 0;
  margin: 0;
  height: 100%;

  @media (--media-min-medium) {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
  }

  @supports (padding-top: env(safe-area-inset-top)) {
    padding-right: calc(env(safe-area-inset-right) + 1rem);
  }
}

.navItem {
  display: flex;
  white-space: nowrap;
  align-items: stretch;
  padding: 0 !important;
  line-height: calc(var(--font-base-line-height) * 1.5rem);

  @nest & > a {
    display: block;
    position: relative;
    padding: 0 0.75rem;

    @media (--media-max-medium) {
      padding: 1rem 1.5rem;
      width: 100%;
      box-sizing: border-box;
      text-align: right;

      @nest &[data-is-active="true"]::before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0.5rem;
        left: 0;
        background-color: var(--color-white, #fff);
      }
    }
  }

  @nest .root[data-show-nav="true"] & > a[data-is-active="true"]::before {
    display: none;
  }

  @media (--media-min-medium) {
    margin-left: 0.5rem;
  }
}

.title {
  margin: 0;
  font-size: var(--font-title2-size);
}
