@import '../../../styles/custom-media.css';
@import '../../../styles/custom-properties.css';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 8px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: default;
}

.root:hover {
  background-color: #d5ebff;
}

.skillImage {
  width: 30px;
  height: 26px;
  margin-right: 4px;
  background-size: contain;
  background: no-repeat center;
}

.skillText {
  margin: 0;
}
