@import '../../../styles/custom-media.css';
@import '../../../styles/custom-properties.css';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillImage {
  width: 30px;
  height: 26px;
  margin: 0 6px;
  background-size: contain;
  background: no-repeat center;
}
