@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 5;

  @media (--media-min-medium) {
    display: none;
  }
}

.background {
  background: var(--color-accent);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px;
  box-sizing: border-box;
}

.button {
  outline: none;
  border: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  pointer-events: auto;
  margin: 0 0 16px;
}

.links {
  position: relative;
  margin: 0;
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.link {
  margin: 0 0 26px;
  cursor: pointer;
  width: 100%;
  padding: 5px;
  border: 3px solid white;
  border-radius: 10px;
}

.linkItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.linkText {
  font-size: var(--font-title3-size) !important;
  color: white !important;
  text-decoration: underline !important;
  order: 1;
}
