@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 5;

  @media (--media-min-medium) {
    display: none;
  }
}

.background {
  background: var(--color-accent);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 100%;
}

.button {
  outline: none;
  border: none;
  user-select: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  pointer-events: auto;
  margin: 0;
  padding: 0;
}

.links {
  position: absolute;
  top: 80px;
  right: 0;
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
