@import '../../../styles/custom-media.css';
@import '../../../styles/custom-properties.css';

.root {
  composes: center from '../../../styles/shared.module.css';
  position: relative;
  color: var(--color-white, #fff);
  background-size: cover;
  background: var(--color-black, #000) no-repeat center center;
  margin-bottom: 2rem;
  height: calc(0.75 * var(--width-small));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid black;
}

.content {
  width: 100%;
  max-width: var(--width-small);
  padding: 0 1.5em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.75);
}

.title {
  position: relative;
  font-weight: 600;
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  margin: 0;
}

.root p a {
  color: inherit;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link {
  margin-bottom: 25px;
  padding: 0.5em 1em;
  border: 0.16em solid #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  font-size: var(--font-micro-size);
}

.link:hover{
  color: #DDDDDD;
  border-color: #DDDDDD;
}
